.cabal/
cabal.config.user
dist-newstyle/
out/
data/*
!data/
!data/gamevars/
!data/gamevars/**
!data/routing-separators-v1.json
*.o
*.hi
*.duckdb
/generator-commit
/out-corpus
/out2
/snapshots/
/tags
/tmp
